<head>
    <link href="/assets/css/bootstrap-ubuntuStyle.min.css" rel="stylesheet">
    <link rel="icon" href="/assets/img/choke.png">
</head>

{% block body %}
    <div class="container">
        <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            <h2>@MouWorks .</h2>
            <h3>Poc: 驗證 Time Sync issue</h3>
            <span id="version"></span>
            <hr/>
            <table class="table">
                <thead>
                <tr>
                    <th>時間點</th>
                    <th>當下 TimeStamp</th>
                    <th>差異 Diff</th>
                    <th>差異說明</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>JS Client 開始<br/>(GET Request) (t1)</td>
                    <td>
                        <span id="original"></span><br/>
                        <span id="originalText"></span>
                    </td>
                    <td> N/A </td>
                    <td> N/A </td>
                </tr>
                <tr>
                    <td>Server 收到&回送<br/> (t2,t3)</td>
                    <td>
                        <span id="receive"></span><br/>
                        <span id="receiveText"></span>
                    </td>
                    <td id="sending"></td>
                    <td>去程時間差</td>
                </tr>
                <tr>
                    <td>Client收到<br/>(t4)</td>
                    <td >
                        <span id="returned"></span><br/>
                        <span id="returnedText"></span>
                    </td>
                    <td id="receiving"></td>
                    <td>回程時間差</td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <div>
                <span>
                Diff:
                    <strong><span id="diff"></span></strong>
                    <p>
                       公式:去程-平均
                    </p>
                </span>
                <span>
                Oneway(平均時間差):
                    <strong><span id="oneway"></span></strong>
                    <p>
                       公式:(去程時間+回程時間) / 2
                    </p>
                </span>
            </div>
            <div class="countdownbox">

                <span>
                    <strong>new Date every 1000ms (JS Re-mount)</strong> <br/>
                    <p id="demo"></p>

                    <strong>Countdown By Sleep1 (JS -1000)</strong><br/>
                    <p id="mod"></p>

                    <strong>Adjust </strong><br/>
                    <p id="adj"></p>

                </span>


                <script>





                </script>



            </div>

        </div><!-- Middle box-->

        </div><!--row-->
    </div><!--container-->

    <!-- Load JS and stuff -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
    </script>

    <script src="/assets/js/poc-TimeSync.js"></script>

{% endblock %}


