<head>
    <link href="/assets/css/bootstrap-ubuntuStyle.min.css" rel="stylesheet">
    <link rel="icon" href="/assets/img/choke.png">
</head>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-10">
                <h2>@MouWorks</h2>Time Sync 2</h3>
                <hr/>

                <span id="result"></span>

                </div>

            </div><!-- Middle box-->

        </div><!--row-->
    </div><!--container-->

    <!-- Load JS and stuff -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
    </script>

    <script src="/assets/js/poc-TimeSync2.js"></script>

{% endblock %}


